In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Temp15-16.csv')
df1 = pd.read_csv('data/Temp16-17.csv')
df2 = pd.read_csv('data/Temp17-18.csv')
df.head()

,Equipo Local,Goles,Ataque,Medio,Defensa,Goles_Acumulados,Equipo Visitante,Goles.1,Ataque.1,Medio.1,Defensa.1,Goles_Acumulados.1,Día,Hora,Jornada,Resultado
0,Málaga,0,75,76,75,0,Sevilla,0,79,80,80,0,21/08/2015,20:30,1,1
1,Deportivo de La Coruña,0,79,74,74,0,Real Sociedad,0,77,77,76,0,22/08/2015,18:30,1,1
2,Espanyol,1,76,75,74,0,Getafe,0,73,75,74,0,22/08/2015,18:30,1,2
3,Atlético de Madrid,1,81,80,81,0,Las Palmas,0,73,71,70,0,22/08/2015,20:30,1,2
4,Rayo Vallecano,0,75,75,74,0,Valencia,0,79,80,79,0,22/08/2015,22:30,1,1

In [3]:
lst_eq0 = list(df['Equipo Local'].unique())
lst_eq1 = list(df1['Equipo Local'].unique())
lst_eq2 = list(df2['Equipo Local'].unique())

lst_eq = list(set(lst_eq0 + lst_eq1 + lst_eq2))
for eq in lst_eq:
    print(eq)

Villarreal
Sevilla
Las Palmas
Granada
Athletic Club
Osasuna
Barcelona
Real Sociedad
Alavés
Getafe
Levante
Sporting de Gijón
Eibar
Girona
Rayo Vallecano
Valencia
Deportivo de La Coruña
Málaga
Betis
Celta de Vigo
Real Madrid
Leganés
Atlético de Madrid
Espanyol

In [4]:
est_meteo = {
'Eibar': {'prov':'Bizkaia',
         'cod_est':'1069Y'},
'Granada': {'prov':'Granada',
            'cod_est':'5515X'},
'Sporting de Gijón': {'prov':'Asturias',
                      'cod_est':'1207U'},
'Girona': {'prov':'Girona',
           'cod_est':'0370E'},
'Espanyol': {'prov':'Barcelona',
             'cod_est':'0201D'},
'Rayo Vallecano': {'prov':'Madrid',
                   'cod_est':'3195'},
'Athletic Club': {'prov':'Bizkaia',
                  'cod_est':'1082'},
'Alavés': {'prov':'Araba',
           'cod_est':'9091R'},
'Osasuna': {'prov':'Navarra',
            'cod_est':'9263D'},
'Deportivo de La Coruña': {'prov':'A Coruña',
                           'cod_est':'1387'},
'Sevilla': {'prov':'Sevilla',
            'cod_est':'5783'},
'Real Madrid': {'prov':'Madrid',
                'cod_est':'3195'},
'Leganés': {'prov':'Madrid',
            'cod_est':'3195'},
'Levante': {'prov':'Valencia',
            'cod_est':'8414A'},
'Barcelona': {'prov':'Barcelona',
              'cod_est':'0201D'},
'Getafe': {'prov':'Madrid',
           'cod_est':'3195'},
'Málaga': {'prov':'Málaga',
           'cod_est':'6106X'},
'Villarreal': {'prov':'Castellón',
               'cod_est':'8500A'},
'Atlético de Madrid': {'prov':'Madrid',
                       'cod_est':'3195'},
'Real Sociedad': {'prov':'Gipuzkoa',
                  'cod_est':'1014A'},
'Las Palmas': {'prov':'Las Palmas',
               'cod_est':'C658X'},
'Celta de Vigo': {'prov':'Pontevedra',
         'cod_est':'1496X'},
'Betis': {'prov':'Sevilla',
          'cod_est':'5783'},
'Valencia': {'prov':'Valencia',
             'cod_est':'8414A'}

}

In [5]:
df['cod_est'] = df['Equipo Local'].apply(lambda x: est_meteo[x]['cod_est'])
df1['cod_est'] = df1['Equipo Local'].apply(lambda x: est_meteo[x]['cod_est'])
df2['cod_est'] = df2['Equipo Local'].apply(lambda x: est_meteo[x]['cod_est'])

In [6]:
df.head()

,Equipo Local,Goles,Ataque,Medio,Defensa,Goles_Acumulados,Equipo Visitante,Goles.1,Ataque.1,Medio.1,Defensa.1,Goles_Acumulados.1,Día,Hora,Jornada,Resultado,cod_est
0,Málaga,0,75,76,75,0,Sevilla,0,79,80,80,0,21/08/2015,20:30,1,1,6106X
1,Deportivo de La Coruña,0,79,74,74,0,Real Sociedad,0,77,77,76,0,22/08/2015,18:30,1,1,1387
2,Espanyol,1,76,75,74,0,Getafe,0,73,75,74,0,22/08/2015,18:30,1,2,0201D
3,Atlético de Madrid,1,81,80,81,0,Las Palmas,0,73,71,70,0,22/08/2015,20:30,1,2,3195
4,Rayo Vallecano,0,75,75,74,0,Valencia,0,79,80,79,0,22/08/2015,22:30,1,1,3195

In [7]:
import os
from dotenv import load_dotenv
import json
import re
import requests

import swagger_client
from swagger_client.rest import ApiException

In [8]:
requests.packages.urllib3.util.ssl_.DEFAULT_CIPHERS += 'HIGH:!DH:!aNULL'
try:
    requests.packages.urllib3.contrib.pyopenssl.DEFAULT_SSL_CIPHER_LIST += 'HIGH:!DH:!aNULL'
except AttributeError:
    # no pyopenssl support used / needed / available
    pass

In [9]:
load_dotenv()
AEMET_KEY = os.getenv("KEY_AEMET")
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = AEMET_KEY

In [10]:
fecha_ini = '2018-02-05T00:00:00UTC'
fecha_fin = '2018-02-05T23:59:59UTC'
estacion = '9091R'

#url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fecha_ini}/fechafin/{fecha_fin}/estacion/{estacion}/?api_key={AEMET_KEY}"

In [11]:
api_instance = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

In [12]:
try:
    respuesta_api = api_instance.climatologas_diarias_(fecha_ini, fecha_fin, estacion)
    print (respuesta_api)
    print('\n\n')
    url_respuesta = respuesta_api.datos
    response = requests.request("GET", url_respuesta)
    print(response)
    print('\n\n')
    meteo = json.loads(response.text)
    print (meteo)
except ApiException as e:
    print ('Algo ha fallado')

{'datos': 'https://opendata.aemet.es/opendata/sh/119c2f38',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}



<Response [200]>



[{'fecha': '2018-02-05', 'indicativo': '9091R', 'nombre': 'VITORIA GASTEIZ AEROPUERTO', 'provincia': 'ARABA/ALAVA', 'altitud': '513', 'tmed': '2,6', 'prec': '0,5', 'tmin': '1,7', 'horatmin': '18:10', 'tmax': '3,6', 'horatmax': '13:30', 'dir': '36', 'velmedia': '3,6', 'racha': '11,7', 'horaracha': '23:34', 'sol': '0,0', 'presMax': '953,8', 'horaPresMax': 'Varias', 'presMin': '949,9', 'horaPresMin': '04'}]